

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 51px 103px;
  gap: 20px;
}

.label {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.select {
  fill: #22262a;
  border: none;
}

/* Header Section */
.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header_active {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.header_item_active {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  gap: 5px;
}

/* End Header Section */

/* Header2 Section */
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  gap: 70px;
}

.header2_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: none;
}

.header_link_active {
  color: #40bfff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.header_link {
  color: #262626;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
/* End Header2 Section */

