

/* Footer Section */

.footer {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: #bcddfe;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  max-width: 1500px;
  height: 680px;
}

.footer_card {
  padding: 149px 134px;
}

.footer_title {
  color: #22262a;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  width: 221px;
}

.twitter {
  padding: 0 40px;
}

.footer_mail {
  color: #c1c8ce;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.footer_img {
  padding: 300px 0;
}
/* End Footer Section */
