

/* Best Seller Section */

.best_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22262a;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
}

.best_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.best_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.best_link_active {
  color: #33a0ff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.best_link {
  color: #262626;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}

.best_link:hover {
  border-bottom: 5px solid #0080fd;
  transition: 0.1s;
}

.best_link:focus {
  border-bottom: 5px solid #0080fd;
  transition: 0.1s;
}

.best_link_active:focus {
  border-bottom: 5px solid #0080fd;
  transition: 0.1s;
}

.best_link_active:hover {
  border-bottom: 5px solid #0080fd;
  transition: 0.1s;
}
/* End Best Seller Section */

